<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 마이바티스 xml -->
<mapper namespace="kr.co.gdu.cash.restmapper.CashbookRestMapper">
	<!-- 연간 최대 지출/최저 지출 통계 쿼리 -->
	<select id="selectMaxAndMinOutlayByYear" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		MAX(case when cashbook_kind= '지출' then cashbook_price END) "maxIncome",
		MIN(case when cashbook_kind= '지출' then cashbook_price end) "minIncome"
		FROM cashbook
		WHERE 
			YEAR(cashbook_date) = #{year}
			AND id = #{loginId}
	</select>
	<!-- 연간 최대 수입/최저 수입 통계 쿼리 -->
	<select id="selectMaxAndMinIncomeByYear" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		MAX(case when cashbook_kind= '수입' then cashbook_price END) "maxIncome",
		MIN(case when cashbook_kind= '수입' then cashbook_price end) "minIncome"
		FROM cashbook
		WHERE 
			YEAR(cashbook_date) = #{year}
			AND id = #{loginId}
	</select>
	<!-- 월별 평균 지출 통계 쿼리 -->
	<select id="selectAvgOutlayByMonth" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			YEAR(cashbook_date) year,
			AVG(case when MONTH(cashbook_date)=01 then cashbook_price END) jan,
			AVG(case when MONTH(cashbook_date)=02 then cashbook_price END) feb,
			AVG(case when MONTH(cashbook_date)=03 then cashbook_price END) mar,
			AVG(case when MONTH(cashbook_date)=04 then cashbook_price END) apr,
			AVG(case when MONTH(cashbook_date)=05 then cashbook_price END) may,
			AVG(case when MONTH(cashbook_date)=06 then cashbook_price END) jun,
			AVG(case when MONTH(cashbook_date)=07 then cashbook_price END) jul,
			AVG(case when MONTH(cashbook_date)=08 then cashbook_price END) aug,
			AVG(case when MONTH(cashbook_date)=09 then cashbook_price END) sep,
			AVG(case when MONTH(cashbook_date)=10 then cashbook_price END) octob,
			AVG(case when MONTH(cashbook_date)=11 then cashbook_price END) nov,
			AVG(case when MONTH(cashbook_date)=12 then cashbook_price END) decem,
			AVG(case when YEAR(cashbook_date)= #{year} then cashbook_price END) total
		FROM cashbook
		WHERE 
			YEAR(cashbook_date) = #{year} 
			AND cashbook_kind = '지출'
			AND id = #{loginId}
	</select>
	<!-- 월별 평균 수입 통계 쿼리 -->
	<select id="selectAvgIncomeByMonth" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			YEAR(cashbook_date) year,
			AVG(case when MONTH(cashbook_date)=01 then cashbook_price END) jan,
			AVG(case when MONTH(cashbook_date)=02 then cashbook_price END) feb,
			AVG(case when MONTH(cashbook_date)=03 then cashbook_price END) mar,
			AVG(case when MONTH(cashbook_date)=04 then cashbook_price END) apr,
			AVG(case when MONTH(cashbook_date)=05 then cashbook_price END) may,
			AVG(case when MONTH(cashbook_date)=06 then cashbook_price END) jun,
			AVG(case when MONTH(cashbook_date)=07 then cashbook_price END) jul,
			AVG(case when MONTH(cashbook_date)=08 then cashbook_price END) aug,
			AVG(case when MONTH(cashbook_date)=09 then cashbook_price END) sep,
			AVG(case when MONTH(cashbook_date)=10 then cashbook_price END) octob,
			AVG(case when MONTH(cashbook_date)=11 then cashbook_price END) nov,
			AVG(case when MONTH(cashbook_date)=12 then cashbook_price END) decem,
			AVG(case when YEAR(cashbook_date)= #{year} then cashbook_price END) total
		FROM cashbook
		WHERE 
			YEAR(cashbook_date) = #{year} 
			AND cashbook_kind = '수입'
			AND id = #{loginId}
	</select>
	<!-- 1년간 월별 지출 통계 쿼리 -->
	<select id="selectOutlayPriceByMonth" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			YEAR(cashbook_date) YEAR,
			SUM(case when MONTH(cashbook_date)=01 then cashbook_price END) jan,
			SUM(case when MONTH(cashbook_date)=02 then cashbook_price END) feb,
			SUM(case when MONTH(cashbook_date)=03 then cashbook_price END) mar,
			SUM(case when MONTH(cashbook_date)=04 then cashbook_price END) apr,
			SUM(case when MONTH(cashbook_date)=05 then cashbook_price END) may,
			SUM(case when MONTH(cashbook_date)=06 then cashbook_price END) jun,
			SUM(case when MONTH(cashbook_date)=07 then cashbook_price END) jul,
			SUM(case when MONTH(cashbook_date)=08 then cashbook_price END) aug,
			SUM(case when MONTH(cashbook_date)=09 then cashbook_price END) sep,
			SUM(case when MONTH(cashbook_date)=10 then cashbook_price END) octob,
			SUM(case when MONTH(cashbook_date)=11 then cashbook_price END) nov,
			SUM(case when MONTH(cashbook_date)=12 then cashbook_price END) decem
		FROM cashbook
		WHERE 
			YEAR(cashbook_date) = #{year} 
			AND cashbook_kind = '지출'
			AND id = #{loginId}
	</select>
	<!-- 1년간 월별 수입 통계 쿼리 -->
	<select id="selectIncomePriceByMonth" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			YEAR(cashbook_date) YEAR,
			SUM(case when MONTH(cashbook_date)=01 then cashbook_price END) jan,
			SUM(case when MONTH(cashbook_date)=02 then cashbook_price END) feb,
			SUM(case when MONTH(cashbook_date)=03 then cashbook_price END) mar,
			SUM(case when MONTH(cashbook_date)=04 then cashbook_price END) apr,
			SUM(case when MONTH(cashbook_date)=05 then cashbook_price END) may,
			SUM(case when MONTH(cashbook_date)=06 then cashbook_price END) jun,
			SUM(case when MONTH(cashbook_date)=07 then cashbook_price END) jul,
			SUM(case when MONTH(cashbook_date)=08 then cashbook_price END) aug,
			SUM(case when MONTH(cashbook_date)=09 then cashbook_price END) sep,
			SUM(case when MONTH(cashbook_date)=10 then cashbook_price END) octob,
			SUM(case when MONTH(cashbook_date)=11 then cashbook_price END) nov,
			SUM(case when MONTH(cashbook_date)=12 then cashbook_price END) decem
		FROM cashbook
		WHERE 
			YEAR(cashbook_date) = #{year} 
			AND cashbook_kind = '수입'
			AND id = #{loginId}
	</select>
	<!-- 1년간 수입/지출 합계 조회 쿼리 -->
	<select id="selectTotalPriceByYear" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			YEAR(cashbook_date) year,
			SUM(case when cashbook_kind = '수입' then cashbook_price END) income,
			SUM(case when cashbook_kind = '지출' then cashbook_price END) outlay
		FROM cashbook
		WHERE 
			YEAR(cashbook_date) = #{year}
			AND id = #{loginId}
	</select>
</mapper>